# Assignments Illustration and Textbook

2026*.pdf
Chapter*.pdf
Ch*.pdf
hw*.pdf
Homework*.pdf
module*.pdf
general*.pdf
General Requirements.pdf
The Linux Programming Interface.pdf
*.heml
講義/


# ReadMe file

ReadMe.pdf

# Others

*.zip
*.exe
*.o
*.out

# IDE & Config files
.vscode/
.vs/
*.sqlite
*.db
*.vsidx
